@font-face {
	font-family: "NotoSansMonoCJKsc Bold";
	src: url("https://font.52pika.cf/font/NotoFonts/NotoSansMonoCJKsc/NotoSansMonoCJKsc-Bold.otf") format("opentype"),
	src: url("https://pikachuim.gitee.io/openfont/font/NotoFonts/NotoSansMonoCJKsc/NotoSansMonoCJKsc-Bold.otf") format("opentype");
}
@font-face {
	font-family: "NotoSansMonoCJKsc Regular";
	src: url("https://font.52pika.cf/font/NotoFonts/NotoSansMonoCJKsc/NotoSansMonoCJKsc-Regular.otf") format("opentype"),
	src: url("https://pikachuim.gitee.io/openfont/font/NotoFonts/NotoSansMonoCJKsc/NotoSansMonoCJKsc-Regular.otf") format("opentype");
}
@font-face {
	font-family: "NotoSerifSC Black";
	src: url("https://font.52pika.cf/font/NotoFonts/NotoSerifSC/NotoSerifSC-Black.otf") format("opentype"),
	src: url("https://pikachuim.gitee.io/openfont/font/NotoFonts/NotoSerifSC/NotoSerifSC-Black.otf") format("opentype");
}
@font-face {
	font-family: "NotoSerifSC Bold";
	src: url("https://font.52pika.cf/font/NotoFonts/NotoSerifSC/NotoSerifSC-Bold.otf") format("opentype"),
	src: url("https://pikachuim.gitee.io/openfont/font/NotoFonts/NotoSerifSC/NotoSerifSC-Bold.otf") format("opentype");
}
@font-face {
	font-family: "NotoSerifSC ExtraLight";
	src: url("https://font.52pika.cf/font/NotoFonts/NotoSerifSC/NotoSerifSC-ExtraLight.otf") format("opentype"),
	src: url("https://pikachuim.gitee.io/openfont/font/NotoFonts/NotoSerifSC/NotoSerifSC-ExtraLight.otf") format("opentype");
}
@font-face {
	font-family: "NotoSerifSC Light";
	src: url("https://font.52pika.cf/font/NotoFonts/NotoSerifSC/NotoSerifSC-Light.otf") format("opentype"),
	src: url("https://pikachuim.gitee.io/openfont/font/NotoFonts/NotoSerifSC/NotoSerifSC-Light.otf") format("opentype");
}
@font-face {
	font-family: "NotoSerifSC Medium";
	src: url("https://font.52pika.cf/font/NotoFonts/NotoSerifSC/NotoSerifSC-Medium.otf") format("opentype"),
	src: url("https://pikachuim.gitee.io/openfont/font/NotoFonts/NotoSerifSC/NotoSerifSC-Medium.otf") format("opentype");
}
@font-face {
	font-family: "NotoSerifSC Regular";
	src: url("https://font.52pika.cf/font/NotoFonts/NotoSerifSC/NotoSerifSC-Regular.otf") format("opentype"),
	src: url("https://pikachuim.gitee.io/openfont/font/NotoFonts/NotoSerifSC/NotoSerifSC-Regular.otf") format("opentype");
}
@font-face {
	font-family: "NotoSerifSC SemiBold";
	src: url("https://font.52pika.cf/font/NotoFonts/NotoSerifSC/NotoSerifSC-SemiBold.otf") format("opentype"),
	src: url("https://pikachuim.gitee.io/openfont/font/NotoFonts/NotoSerifSC/NotoSerifSC-SemiBold.otf") format("opentype");
}
