@font-face {
	font-family: "Sarasa Gothic Mono Nerd SC Bold";
	src: url("https://pikachuim.gitee.io/openfont/font/SarasaGothic/Sarasa-Gothic-Mono-Nerd/Sarasa-Gothic-Mono-Nerd-SC Bold.ttf") format("truetype");
}
@font-face {
	font-family: "Sarasa Gothic Mono Nerd SC Bolditalic";
	src: url("https://pikachuim.gitee.io/openfont/font/SarasaGothic/Sarasa-Gothic-Mono-Nerd/Sarasa-Gothic-Mono-Nerd-SC Bolditalic.ttf") format("truetype");
}
@font-face {
	font-family: "Sarasa Gothic Mono Nerd SC Extra Light Italic";
	src: url("https://pikachuim.gitee.io/openfont/font/SarasaGothic/Sarasa-Gothic-Mono-Nerd/Sarasa-Gothic-Mono-Nerd-SC Extra Light Italic.ttf") format("truetype");
}
@font-face {
	font-family: "Sarasa Gothic Mono Nerd SC Extra Light";
	src: url("https://pikachuim.gitee.io/openfont/font/SarasaGothic/Sarasa-Gothic-Mono-Nerd/Sarasa-Gothic-Mono-Nerd-SC Extra Light.ttf") format("truetype");
}
@font-face {
	font-family: "Sarasa Gothic Mono Nerd SC Italic";
	src: url("https://pikachuim.gitee.io/openfont/font/SarasaGothic/Sarasa-Gothic-Mono-Nerd/Sarasa-Gothic-Mono-Nerd-SC Italic.ttf") format("truetype");
}
@font-face {
	font-family: "Sarasa Gothic Mono Nerd SC Light Italic";
	src: url("https://pikachuim.gitee.io/openfont/font/SarasaGothic/Sarasa-Gothic-Mono-Nerd/Sarasa-Gothic-Mono-Nerd-SC Light Italic.ttf") format("truetype");
}
@font-face {
	font-family: "Sarasa Gothic Mono Nerd SC Light";
	src: url("https://pikachuim.gitee.io/openfont/font/SarasaGothic/Sarasa-Gothic-Mono-Nerd/Sarasa-Gothic-Mono-Nerd-SC Light.ttf") format("truetype");
}
@font-face {
	font-family: "Sarasa Gothic Mono Nerd SC Regular";
	src: url("https://pikachuim.gitee.io/openfont/font/SarasaGothic/Sarasa-Gothic-Mono-Nerd/Sarasa-Gothic-Mono-Nerd-SC Regular.ttf") format("truetype");
}
@font-face {
	font-family: "Sarasa Gothic Mono Nerd SC Semibold Italic";
	src: url("https://pikachuim.gitee.io/openfont/font/SarasaGothic/Sarasa-Gothic-Mono-Nerd/Sarasa-Gothic-Mono-Nerd-SC Semibold Italic.ttf") format("truetype");
}
@font-face {
	font-family: "Sarasa Gothic Mono Nerd SC Semibold";
	src: url("https://pikachuim.gitee.io/openfont/font/SarasaGothic/Sarasa-Gothic-Mono-Nerd/Sarasa-Gothic-Mono-Nerd-SC Semibold.ttf") format("truetype");
}
@font-face {
	font-family: "Sarasa Gothic Super Regular";
	src: url("https://pikachuim.gitee.io/openfont/font/SarasaGothic/Sarasa-Gothic-Super/Sarasa-Gothic-Super-Regular.otf") format("opentype"),
	src: url("https://pikachuim.gitee.io/openfont/font/SarasaGothic/Sarasa-Gothic-Super/Sarasa-Gothic-Super-Regular.ttf") format("truetype"),
	src: url("https://pikachuim.gitee.io/openfont/font/SarasaGothic/Sarasa-Gothic-Super/Sarasa-Gothic-Super-Regular.woff") format("woff"),
	src: url("https://pikachuim.gitee.io/openfont/font/SarasaGothic/Sarasa-Gothic-Super/Sarasa-Gothic-Super-Regular.woff2") format("woff2");
}
@font-face {
	font-family: "Sarasa Gothic Super Unhinted Regular";
	src: url("https://pikachuim.gitee.io/openfont/font/SarasaGothic/Sarasa-Gothic-Super-Unhinted/Sarasa-Gothic-Super-Unhinted-Regular.otf") format("opentype"),
	src: url("https://pikachuim.gitee.io/openfont/font/SarasaGothic/Sarasa-Gothic-Super-Unhinted/Sarasa-Gothic-Super-Unhinted-Regular.ttf") format("truetype"),
	src: url("https://pikachuim.gitee.io/openfont/font/SarasaGothic/Sarasa-Gothic-Super-Unhinted/Sarasa-Gothic-Super-Unhinted-Regular.woff") format("woff"),
	src: url("https://pikachuim.gitee.io/openfont/font/SarasaGothic/Sarasa-Gothic-Super-Unhinted/Sarasa-Gothic-Super-Unhinted-Regular.woff2") format("woff2");
}
